<h1>{{title }}</h1>

{{#each articles}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.title}}</h3>
    </div>
    <div class="panel-body">
      {{this.text}}
    </div>
  </div>
{{/each}}
